button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  padding: 12px 16px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  border: 1px solid var(--color-fg-border-whisper);
  color: var(--color-fg-default);
  background: var(--color-bg-default);

}

/*---Button States ---*/

button:hover {
  cursor: pointer;
  background-color: var(--color-bg-hovered);
  transition-duration: 50ms;
}

button:active {
  background-color: var(--color-bg-active);
  transition-duration: 50ms;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*---Button Sizes ---*/
button.small {
  padding: 4px 12px;
}

button.large {
  padding: 16px 24px;
}

/*---Button Types ---*/
button.default {
  color: var(--color-fg-default);
  background-color: var(--color-bg-default);
}

button.default:hover {
  background-color: var(--color-bg-hovered);
}

button.primary {
  color: var(--color-fg-inverse);
  background-color: var(--color-bg-brand-default);
  border: 1px solid transparent;
}

button.primary:hover {
  background-color: var(--color-bg-brand-hovered);
}

button.subtle {
  background-color: var(--color-bg-subtle);
  border: none;
}

button.subtle:hover {
  background-color: var(--color-bg-hovered);
}

button.dashed {
  border-style: dashed;
  border-color: var(--color-fg-default);
}

button.link {
  color: var(--color-fg-brand);
  background-color: transparent;
  border: none;
}

button.link:hover {
  background-color: var(--color-bg-hovered);
}

/*---Button Shapes ---*/
button.rounded {
  border-radius: 8px;
}

button.circle {
  border-radius: 50%;
  padding: 12px;
}

/* button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
} */

.disabled {
  pointer-events: none;
  border-color: var(--color-fg-disabled);
  background: var(--color-bg-disabled);
}

.full-width {
  width: 100%;
}
