.card {
    /* layout */
    display: flex;

    /* size */
    border-radius: 8px;
    width: 608px;
    height: 340px;
    margin: 0 auto;

    /* typography */
    font-family: Lato, sans-serif;
    color: var(--color-fg-inverse);

    /* colors */
    background: #3C2C2A;
    
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-content {
    margin-bottom: 8px;
}

.wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid var(--color-border-default);
}