.card {
    /* layout */
    display: flex;

    /* size */
    border-radius: 8px;
    width: 608px;
    height: 340px;
    margin: 0 auto;
    margin-bottom: 1rem;

    /* typography */
    font-family: Lato, sans-serif;
    color: var(--color-fg-inverse);
    
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-content {
    margin-bottom: 8px;
}

.card-price{
    font-size: 24px;
}

.wrapper {
    width: 50%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

img {
    width: 338px;
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid var(--color-border-default);
}

.button-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}