/* font families */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* global styles */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.examples-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
  gap: 2rem;
  border-radius: 8px;

  border: 1px solid #f0f2f5;
  background-color: #ffffff;
  background-image: repeating-linear-gradient(
      45deg,
      #efefef 25%,
      transparent 25%,
      transparent 75%,
      #efefef 75%,
      #efefef
    ),
    repeating-linear-gradient(
      45deg,
      #efefef 25%,
      #ffffff 25%,
      #ffffff 75%,
      #efefef 75%,
      #efefef
    );
  background-position:
    0 0,
    10px 10px;
  background-size: 20px 20px;
}

.code {
  font-family: monospace;
  color: purple;
}

h4 {
  margin-top: none;
  margin-bottom: 0.5rem;
}
